[submodule "backend/lib/openzeppelin-contracts"]
	path = backend/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
[submodule "backend/lib/forge-std"]
	path = backend/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git

[submodule "backend/lib/sismo-connect-solidity"]
	path = backend/lib/sismo-connect-solidity
	url = https://github.com/sismo-core/sismo-connect-solidity.git
[submodule "backend/lib/tutorial-examples"]
	path = backend/lib/tutorial-examples
	url = https://github.com/0xPolygonID/tutorial-examples.git
