export MNEMONIC="YOUR MNEMONIC HERE"
export RPC_URL=https://gateway.tenderly.co/public/polygon-mumbai
# You need to go here for registering an api key for Mumbai --> https://polygonscan.com/login
export ETHERSCAN_API_KEY=<YOUR API KEY>
